# ~/.tmuxinator/debug.yml

# source: https://github.com/tmuxinator/tmuxinator/blob/master/spec/fixtures/sample.yml

name: debug
root: ~/

# # Runs in each window and pane before window/pane specific commands. Useful for setting up interpreter versions.
pre_window: eval "$(rbenv init -)"; rbenv shell 2.4.3 && nvm use stable
# pre_window: [[ -r $rvm_path/scripts/completion ]] && . $rvm_path/scripts/completion; [[ -s "$HOME/.rvm/scripts/rvm" ]] && source "$HOME/.rvm/scripts/rvm"; if [ -f ~/.bashrc ]; then source ~/.bashrc; fi;

# [[ -r $rvm_path/scripts/completion ]] && . $rvm_path/scripts/completion

# # Add RVM to PATH for scripting. Make sure this is the last PATH variable change.
# [[ -r $rvm_path/scripts/completion ]] && . $rvm_path/scripts/completion

# [[ -s "$HOME/.rvm/scripts/rvm" ]] && source "$HOME/.rvm/scripts/rvm" # Load RVM into a shell session *as a function*
# if [ -f ~/.bashrc ]; then source ~/.bashrc; fi

# export PATH="$PATH:$HOME/.rvm/bin"


windows:
  - neofetch:
      layout: 9fa4,223x75,0,0{118x75,0,0[118x52,0,0{59x52,0,0,8,58x52,60,0,13},118x22,0,53,12],104x75,119,0[104x16,119,0,1,104x15,119,17,9,104x22,119,33,2,104x19,119,56,3]}
      panes:
        - neofetch:
          - neofetch
